---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-throwing-static-initialization,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -misc-include-cleaner,
  -misc-const-correctness,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  -modernize-return-braced-init-list,
  -modernize-use-scoped-lock,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-use-concise-preprocessor-directives,
  -readability-uppercase-literal-suffix,
  -readability-simplify-boolean-expr,
  -readability-non-const-parameter,
  -readability-make-member-function-const,
  -modernize-use-nodiscard,

WarningsAsErrors: ''

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.MethodCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: ''
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: ''
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstantMemberCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.LocalConstantCase
    value: camelBack
  - key: modernize-use-override.IgnoreDestructors
    value: true
  - key: performance-unnecessary-value-param.AllowedTypes
    value: 'std::function'
...
